body {
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.shadow {
	color: #fff;
	text-shadow: .06em .06em rgba(0,0,0,.2);
}
.jumbo {
	color: #fff;
	text-shadow: .016em .016em rgba(0,0,0,.2) !important;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin .top-input {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin .middle-input {
	margin-bottom: -1px;
	border-radius: 0;
}
.form-signin .bottom-input {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.welcome-message {
	padding: 15px;
}
.bump {
	margin-bottom: 10px;
}
.dashboard-panel>div {
	border-radius: 2px;
	box-sizing: border-box;
	padding: 40px;
	background-color: #eee;
}
.container.dashboard  {
	margin-top: 16px;
}
input.loading {
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	background-position: 96% center;
}
input.verified {
	background-image: url(check_s.png);
	background-repeat: no-repeat;
	background-position: 96% center;
}
input.rejected {
	border-color: #953b39;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
@media screen and (min-width: 768px) {
	body {
		background: url(stadium_m.jpg) no-repeat center center fixed; 
	}
	.jumbo {
		font-size: 10em;
	}
}
@media screen and (max-width: 767px) {
	body {
		background: url(stadium_s.jpg) no-repeat center center fixed; 
	}
}